# Example tfvars for the complete example.
# Copy this file to terraform.tfvars and customise.

name        = "my-bucket"
environment = "dev"
namespace   = "myorg"

versioning_enabled = true
force_destroy      = false
kms_key_arn        = null

tags = {
  "Project" = "example"
  "Owner"   = "platform-engineering"
}
